header {
    position: sticky;
    top: 0px;
    z-index: 1;
}

nav {
    display: flex;
    flex-direction: column;
}

nav div {
    display: inherit;
    justify-content: space-between;
    align-items: center;
}

/*nav bar 1*/
#nav1 {
    height: 70px;
    background-color: white;
}

nav h1 {
    color: #0A71B3;
    margin-left: 25px;
}

#nav1 div {
    display: inherit;
    height: inherit;
}

#nav1 a {
    color: white;
    background-color: #0A71B3;
    height: 25px;
    border-radius: 5px;
    padding: 5px 20px;
    margin-right: 25px;
}

#nav1 a:hover {
    background-color: #3093CD;
}

/*Nav bar 2*/
#nav2 {
    height: 45px;
    background-color: #282A35;
    box-shadow: 0px -5px 5px lightgray;
}

#nav2 form {
    border: 0;
    margin: 0;
    padding: 0;
    background-color: #282A35;
}

#nav2 div, #nav2 form {
    display: inherit;
    height: inherit;
}

nav a {
    display: flex;
    align-items: center;
    color: white;
    height: inherit;
    padding: 0px 20px;
}

#nav2 input, #nav2 form {
    height: inherit;
    border-radius: 0;
}

#nav2 button {
    width: 50px;
}

#nav2 a:hover {
    color: #282A35;
    background-color: #3093CD;
}

#active {
    background-color: #0A71B3;
}

/*Footer*/
footer {
    background-color: #282A35;
    text-align: center;
    padding: 10px;
}

footer a {
    color: white;
    margin: 0px 10px;
}

footer a:hover {
    color: #3093CD;
}

/*Responsive*/
@media screen and (max-width:400px) {
    #nav1 {
        flex-direction: column;
        min-height: 90px;
    }
}

@media screen and (max-width:675px) {
    #nav1 div, #nav2, #nav2 div:first-of-type {
        flex-direction: column;
        height: auto;
    }

    #nav2 div:last-of-type {
        justify-content: space-between;
    }

    nav h1, #nav1 a, #nav1 p {
        margin: 0px;
    }

    #nav2 input, #nav2 div, #nav2 a {
        width: 100%;
        justify-content: center;
    }

    #nav2 form {
        width: 100%;
    }

    nav form input {
        margin: 0px;
    }

    nav a {
        padding: 0px;
    }
}